<footer>
  <div>
    <p>
      If you want to keep up to date with my adventures in game development then you can
      <a href="https://twitter.com/nathanhoad">follow me on Twitter</a> or
      <a href="https://www.youtube.com/channel/UCZrNPqjLoBUY66z1hPm8Qug">subscribe to my YouTube channel</a>.
    </p>
  </div>

  <ul>
    <li><a href="https://twitter.com/nathanhoad">Twitter</a></li>
    <li>
      <a href="https://www.youtube.com/channel/UCZrNPqjLoBUY66z1hPm8Qug">YouTube</a>
    </li>
    <li><a href="https://nathanhoad.itch.io">Itch</a></li>
    <li><a href="https://github.com/nathanhoad">GitHub</a></li>
  </ul>
  <aside>&copy <span><%= new Date().getFullYear() %></span> Nathan Hoad</aside>
</footer>
