body > footer {
  border-top: 2px solid #ccc;
  background: #f9f9f9;
  padding-top: 0px;
  margin: 120px 0 0 0;
  padding-bottom: 80px;

  & > ul {
    list-style: none;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 90px 0 10px 0;
    padding-top: 150px;
    background: url(/footer.png) no-repeat top center;
    color: #666;

    & > li {
      display: inline-block;
      margin: 0 5px;

      & > a {
        color: #666;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > aside {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #666;
  }

  padding: 40px 0;

  & > div {
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;

    @media screen and (max-width: 440px) {
      padding: 0 20px;
    }

    p {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      font-size: 22px;
      line-height: 36px;
    }

    a {
      color: black;
    }
  }
}
